<%- include('../partials/header.ejs') %>

<div class="container eventHeader d-flex justify-content-center">

  <div class="card col-10">
    <div class="card-header text-center">
    <h4> Events</h4>
  </div>
<% for (let event of events) { %>
<div class="card mt-2">
  <div class="card-body d-flex">
  <div class="col-8">
    <h4 class="card-title mt-4"><a href="/events/<%= event.id %>"><%= event.title %></a></h4>
    <h6 class="card-subtitle text-muted"><%= moment(event.date).format('MMMM Do YYYY')%></h6>
  </div>
  <div class="col-4 d-flex justify-content-end">
  <% if (currentUser) { %>
    <form
      action="events/<%= event.id %>"
      method="POST"
      >

        <input class="btn btn-success btn-lg btn-raised mt-4" type="submit" value="join">
        </form>
<%  } %>

      </div>
    </div>
  </div>
<% } %>
</div>



<%- include('../partials/footer.ejs') %>
