<%- include('../partials/header') %>
<div class="container col-md-12 flex-direction: row align-content: flex-start">

  <div class="col-md-3 sideBar ">
  <div class="card">
    <div class="card-body">
      <h4 class="card-header"><strong> <%= event.title %></strong> </h4>
      <h5 class="mt-2"> <%=moment(event.date).format('MMMM Do YYYY')%> </h5>
      <a class="card-link" href="/events/<%=event.id%>/newPost"> Create  New Post </a>
    </div>

    <div class="card-header">
      <h4>Event Details</h4>
    </div>
    <div class="card-body">
      <p> <%= event.description %> </p>
    </div>
    <div class="card-header">
      <h4>Members</h4>
    </div>
    <ul class="list-group">
    <% attendees.forEach(attendee => { %>
        <li class="list-group-item list-group-item-action"><strong><a href="/users/<%= attendee.id %>"><%= attendee.first_name %> <%= attendee.last_name %></a></strong></li>
      <% }) %>
      </ul>
    </div>
<div>
  <form
    action="/events/<%=event.id%>?_method=DELETE"
    method="POST"
    >
      <input class="btn btn-danger btn-raised mt-4" type="submit" value="Leave">
      </form>
</div>

    </div>


<% for (let post of posts) { %>
  <div class="col-md-9 postsIndex">
    <div class="card">
      <div class="card-header">
        <strong><%= post.title %></strong>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= post.content %>
        </p>
      </div>
      <a href="/events/<%= event.id%>/posts/<%= post.id %>">
        <img class="card-img" src="<%= post.photo_path %>">
      </a>
    </div>
  </div>

<% } %>








</div>

<%- include('../partials/footer') %>
