<%- include('../partials/header') %>
<div class="d-flex justify-content-center align-items-center">
<h1> <%= event.title %> </h1>
<p> <%= event.date  %> </p>
</div>

<div>
MEMBERS
<% attendees.forEach(attendee => { %>
    <p>
    Name: <%= attendee.first_name %> <%= attendee.last_name %>
    </p>
  <% }) %>
</div>

<div>
  Bloop
<a href="../posts/new">  Create Post </a>
</div>

<%- include('../partials/footer') %>
